@require 'card'

.bubbleGroup
	position relative
	margin .3em 0

	&:after
		content ''
		display block
		clear both

	&.has-avatar
		padding-left $mgAvatarSize * 1.2

	&-avatar
		position absolute
		bottom .3em
		left 0
		.avatar
			font-size $mgAvatarSize

	&-elements > *
		clear both

	&.is-their &-elements > *
		float left
		&:not(:first-child)
			$join-tl()
		&:not(:last-child)
			$join-bl()

	&.is-our &-elements > *
		float right
		&:not(:first-child)
			$join-tr()
		&:not(:last-child)
			$join-br()
