@require "card"

.mgui-buttonsBubble
	$card()
	background-color #fff

	border solid 1px $mgLightGrey

	&-text
		padding .5em .8em .6em
		background $mgLightGrey

	&-buttons .mgui-button
		text-align center
		border-top @border
