$card()
	display inline-block
	vertical-align top
	border-radius $mgBigRadius
	text-align left
	margin-bottom .2em
	overflow hidden
	line-height 1

$join-tl()
	border-top-left-radius $mgSmallRadius

$join-bl()
	border-bottom-left-radius $mgSmallRadius

$join-tr()
	border-top-right-radius $mgSmallRadius

$join-br()
	border-bottom-right-radius $mgSmallRadius
