$mgBlue = #0084FF
$mgLightGrey = #F1F0F0
$mgTextBlack = #000000
$mgTextWhite = #FFFFFF
$mgBgWhite = #FFFFFF
$mgTextGrey = #929292
$mgTextDarkGrey = #818181
$mgBorderGrey = #B2B2B2
$mgBorderLightGrey = #EBEBEB
$mgTextLightGrey = $mgBorderGrey
$iosBlue = #037AFF
$iosNavGrey = #F9F9F9
$iosBorderGrey = #C9C9C9
$iosBgWhite = #FFFFFF
