.threadListElement
	$avatarSize = 60px
	position relative
	margin-bottom .5em
	line-height 1

	&-avatar
		position absolute
		top 0
		left 0
		.avatar
			display block
			font-size $avatarSize

	&-info
		padding-top .5em
		min-height $avatarSize
		margin-left $avatarSize * 1.2
		border-bottom solid 1px $mgBorderLightGrey
		position relative
		line-height 1.4

	&-lead
		color $mgTextGrey
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		font-size .9em
		margin-right 2em

	&-timestamp
		float right
		font-size .8em
		padding-top .3em

	&-status
		position absolute
		top 2.4em
		right 0
		width .5em
		height @width
		background $mgBorderLightGrey
		border-radius @width

	&.is-unread &-label
	&.is-unread &-lead
		font-weight 600
		color $mgTextBlack

	&.is-unread &-timestamp .timestamp
		color $mgBlue
