extends layouts/default

include ui/avatar.jade
include ui/bubble.jade
include ui/buttonsBubble.jade
include ui/button.jade
include ui/bubbleGroup.jade
include ui/genericElement.jade
include ui/persistentMenu.jade
include ui/quickReply.jade
include ui/receipt.jade
include ui/receiptElement.jade
include ui/threadList.jade
include ui/threadListElement.jade
include ui/timestamp.jade

include guide/color.jade
include guide/section.jade

block main

	+section('.mgui-bubble', true)
		+bubbleGroup({ isOur: false, avatarUrl: 'https://randomuser.me/api/portraits/med/women/80.jpg' })
			+bubble({ text: "You invented something in high school too, right?" })
		+timestamp('9:41 AM', { block: true })
		+bubbleGroup({ isOur: true})
			+bubble({ text: "An app for an MP3 player that recognizes your taste in music.", isOur: true })
			+bubble({ text: "Didn't sell it, uploaded it for free.", isOur: true })
		+bubbleGroup({ isOur: false, avatarUrl: 'https://randomuser.me/api/portraits/med/women/80.jpg' })
			+bubble({ text: "For free?" })
		+bubbleGroup({ isOur: true})
			+bubble({ text: "Yeah.", isOur: true })
		+bubbleGroup({ isOur: false, avatarUrl: 'https://randomuser.me/api/portraits/med/women/80.jpg' })
			+bubble({ imageUrl: "https://unsplash.it/400/300?random=" + Math.random() })
			+buttonsBubble({ text: 'Hello world', buttons: [ 'Option', 'Option 2' ] })
			+bubble({ text: "I can look for something." })
		div.mgui-genericElementList
			+genericElement({
				title: 'Title',
				subtitle: 'Subtitle',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				itemUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option' ]
			})
			+genericElement({
				title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				subtitle: 'Voluptate provident unde dolor eum molestiae tempora fugit, praesentium consequatur esse.',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				itemUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option', 'Option 2' ]
			})
			+genericElement({
				title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option' ]
			})
		+timestamp('9:42 AM', { block: true })
		+bubbleGroup({ isOur: true})
			+bubble({ text: "Your date looks so familiar to me.", isOur: true })
		+bubbleGroup({ isOur: false})
			+bubble({ text: "She looks familiar to a lot of people." })
		.mgui-quickReplyList
			+quickReply("What do you mean?")
			+quickReply("OK")

	+section('.mgui-genericElement', true)
		div.mgui-genericElementList
			+genericElement({
				title: 'Title',
				subtitle: 'Subtitle',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				itemUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option' ]
			})
			+genericElement({
				title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				subtitle: 'Voluptate provident unde dolor eum molestiae tempora fugit, praesentium consequatur esse.',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				itemUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option', 'Option 2' ]
			})
			+genericElement({
				title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option' ]
			})
			+genericElement({
				title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				buttons: [ 'Option' ]
			})
			+genericElement({
				title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				subtitle: 'Praesentium consequatur esse, qui magnam saepe neque veritatis laboriosam maiores sunt adipisci quos. Sit!',
				imageUrl: 'https://unsplash.it/400/300?random=' + Math.random(),
				buttons: [ 'Option', 'Option 2', 'Option 3' ]
			})

	+section('.mgui-buttonsBubble', true)
		+buttonsBubble({ text: 'Hello world', buttons: [ 'Option', 'Option 2' ] })

	+section('.mgui-persistentMenu', true)

		.mgui-screen.with-shadow
			.mgui-screenConversation
				+timestamp('10:21 AM', { block: true })
				+bubbleGroup({ isOur: false, avatarUrl: 'https://randomuser.me/api/portraits/med/women/80.jpg' })
					+bubble({ text: "In which class are you studying? " })
				+bubbleGroup({ isOur: true})
					+bubble({ text: "I am in Eighth Standard. What about you? ", isOur: true })
				+bubbleGroup({ isOur: false, avatarUrl: 'https://randomuser.me/api/portraits/med/women/80.jpg' })
					+bubble({ text: "I am in Ninth Standard." })
					+bubble({ text: "Do you come to school by bus? " })
				+bubbleGroup({ isOur: true})
					+bubble({ text: "Yes. I travel by bus. I have to catch Route No. 24 bus. ", isOur: true })
			.mgui-screenOverlay
			+persistentMenu('Hello world')

	+section('.mgui-timestamp', true)
		+timestamp('9:41 AM', { block: true })

	+section('.mgui-avatar', true)
		+avatar('https://randomuser.me/api/portraits/med/men/80.jpg')

	+section('.mgui-button', true)
		+button('Hello world')

	+section('.mgui-quickReply', true)
		+locationQuickReply('Location')
		+imageQuickReply('With image', 'https://unsplash.it/500/600/?random=' + Math.random())
		+colorQuickReply('Green', '#5e5')
		+colorQuickReply('Blue', '#55e')
		+colorQuickReply('Pink', 'pink')
		+quickReply('Something')

	+section('.mgui-receipt > .receiptElement', true)
		+receipt({
			sum: '$56.14',
			payment: 'Visa 2345',
			shipping: [ '1 Hacker Way', 'Menlo Park, CA 94025' ]
		})
			+receiptElement({
				imageUrl: 'https://unsplash.it/500/600/?random=' + Math.random(),
				title: 'Classic White T-Shirt',
				subtitle: '100% Soft and Lu...',
				quantity: 2
			})
			+receiptElement({
				imageUrl: 'https://unsplash.it/500/600/?random=' + Math.random(),
				title: 'Classic Grey T-Shirt',
				subtitle: '100% Soft and Lu...',
			})

	+section('.mgui-threadList > .threadListElement', true)
		.mgui-screen.with-shadow
			+threadList()
				+threadListElement({
					timestamp: '2:33 PM',
					avatarUrl: 'https://unsplash.it/200/200/?random=' + Math.random(),
					label: 'CNN',
					lead: "Hi, Marissa, we'll keep you updated.",
					threadStatus: "unread",
					avatarStatus: "online",
				})
				+threadListElement({
					timestamp: '2:15 PM',
					avatarUrl: 'https://unsplash.it/200/200/?random=' + Math.random(),
					label: 'Peter Zich',
					lead: 'Peter Zich sent an image',
					threadStatus: "unread",
					avatarStatus: "offline",
				})
				+threadListElement({
					timestamp: '1:13 PM',
					avatarUrl: 'https://unsplash.it/200/200/?random=' + Math.random(),
					label: 'Spring',
					lead: "Hi, Marissa, we'll keep you updated.",
					threadStatus: "read",
					avatarStatus: "online",
				})
				+threadListElement({
					timestamp: '10:43 AM',
					avatarUrl: 'https://unsplash.it/200/200/?random=' + Math.random(),
					label: 'Ryan Cole',
					lead: 'Peter Zich sent an image',
					threadStatus: "sent",
					avatarStatus: "online",
				})

	+section('Colors')
		.guide-color-list
			+color('#0084FF', '$mgBlue')
			+color('#F1F0F0', '$mgLightGrey')
			+color('#000000', '$mgTextBlack')
			+color('#FFFFFF', '$mgTextWhite')
			+color('#FFFFFF', '$mgBgWhite')
			+color('#929292', '$mgTextGrey')
			+color('#818181', '$mgTextDarkGrey')
			+color('#B2B2B2', '$mgBorderGrey')
			+color('#EBEBEB', '$mgBorderLightGrey')
			+color('#B2B2B2', '$mgTextLightGrey')

			+color('#037AFF', '$iosBlue')
			+color('#F9F9F9', '$iosNavGrey')
			+color('#C9C9C9', '$iosBorderGrey')
			+color('#FFFFFF', '$iosBgWhite')

