extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Sample project structure used in manGoweb'

block content

	main.layout(role='main')

		h1= global.title

		include parts/example

		include parts/samplecontent



