@require 'reset'

.guide-color
	margin-bottom 1em
	&-swatch
		display inline-block
		vertical-align middle
		background #fff
		border solid 1px rgba(#000, .1)
		border-radius .2em
		overflow hidden

	&-tint
		height 0
		padding-top .75em
		border-bottom solid 1px rgba(#000, .1)

	&-hex
		text-transform uppercase
		font-family $font-family-monospace
		padding .2em .5em

	&-title
		display inline-block
		vertical-align middle
		font-size 1.2em
		margin-left 1em
