include avatar.jade

mixin bubbleGroup(props = {})
	.mgui-bubbleGroup(class=cl([ props.isOur ? "is-our" : "is-their", props.avatarUrl && "has-avatar" ]))
		if props.avatarUrl
			.mgui-bubbleGroup-avatar
				+avatar(props.avatarUrl, { status: props.status })
		.mgui-bubbleGroup-elements
			block
