include button.pug

mixin buttonsBubble(props = {})
	.mgui-buttonsBubble
		.mgui-buttonsBubble-text=props.text
		.mgui-buttonsBubble-buttons
			each button in props.buttons
				.mgui-buttonsBubble-button
					+button(button)
