include button.pug

mixin genericElement(props={})
	.mgui-genericElement
		if props.imageUrl
			.mgui-genericElement-image(style="background-image:url("+props.imageUrl+")")
		if props.title || props.subtitle || props.itemUrl
			.mgui-genericElement-text
				if props.title
					.mgui-genericElement-title=props.title
				if props.subtitle
					.mgui-genericElement-subtitle=props.subtitle
				if props.itemUrl
					.mgui-genericElement-itemUrl=props.itemUrl.match(/\/\/([^\/]+)\//)[1]
		if props.buttons && props.buttons.length > 0
			.mgui-genericElement-buttons
				each button in props.buttons
					+button(button)
