include button.jade

mixin persistentMenuOverlay()
	.mgui-persistentMenu-overlay

mixin persistentMenu()
	nav.mgui-persistentMenu
		header.mgui-persistentMenu-head
			.mgui-persistentMenu-title Menu
			.mgui-persistentMenu-closeBtn Close
		main.mgui-persistentMenu-body
			.mgui-persistentMenu-elements
				.mgui-persistentMenu-element
					+button('Help')
				.mgui-persistentMenu-element
					+button('Start New Order')
				.mgui-persistentMenu-element
					+button('View Website')


