mixin receipt(props={})
	.receipt
		.receipt-head Order confirmation
		.receipt-body
			block

			if props.payment
				.receipt-key Paid with
				.receipt-value=props.payment

			if props.shipping
				.receipt-key Ship to
				.receipt-value
					if typeof props.shipping === "string"
						| #{props.shipping}
					else
						each line in props.shipping
							| #{line}<br>

		.receipt-foot
			.receipt-foot-label Total
			.receipt-foot-sum=props.sum
