mixin receiptElement(props)
	.mgui-receiptElement
		if props.imageUrl
			.mgui-receiptElement-image(style="background-image:url("+props.imageUrl+")")
		.mgui-receiptElement-desc
			if props.title
				.mgui-receiptElement-title=props.title
			if props.subtitle
				.mgui-receiptElement-subtitle=props.subtitle
			if props.quantity
				.mgui-receiptElement-subtitle Qty. #{props.quantity}

