mixin receipt(props={})
	.mgui-receipt
		.mgui-receipt-head Order confirmation
		.mgui-receipt-body
			block

			if props.payment
				.mgui-receipt-key Paid with
				.mgui-receipt-value=props.payment

			if props.shipping
				.mgui-receipt-key Ship to
				.mgui-receipt-value
					if typeof props.shipping === "string"
						| #{props.shipping}
					else
						each line in props.shipping
							| #{line}<br>

		.mgui-receipt-foot
			.mgui-receipt-foot-label Total
			.mgui-receipt-foot-sum=props.sum
