include timestamp.pug
include avatar.pug

mixin threadListElement(props)
	.mgui-threadListElement(class="is-" + props.threadStatus)
		.mgui-threadListElement-avatar
			+avatar(props.avatarUrl, { status: props.avatarStatus })
		.mgui-threadListElement-info
			.mgui-threadListElement-timestamp
				+timestamp(props.timestamp)
			.mgui-threadListElement-label=props.label
			.mgui-threadListElement-lead=props.lead
			.mgui-threadListElement-status(class="type-" + props.threadStatus)
