include ../mixins/shape

.example Example component
	button.example-child
		+shape('plus').example-shape
		span.example-text with some action

script.
	initComponents.push({
		name: 'example',
		place: '.example',
		data: 'Hey there!'
	})
