doctype html
block vars
	- var title = global.title
	- var description = ''
	- var keywords = ''

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title=title

		meta(name='description', content=description)
		meta(name='keywords', content=keywords)
		meta(name='author', content='manGoweb s.r.o. <info@mangoweb.cz> (http://www.mangoweb.cz')

		link(rel='stylesheet', href='styles/index.css', media='screen')
		link(rel='stylesheet', href='styles/print.css', media='print')

		<!--[if lt IE 9]>
		link(rel='stylesheet', href='styles/oldie.css', media='screen')
		script(src='node_modules/lt-ie-9/lt-ie-9.min.js')
		<![endif]-->
		
		// Queue of JS components to initialize
		script initComponents = []

	body

		block header
		block content
		block footer

		//- Application init
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js', defer)
		script(src='scripts/index.js', defer)
