doctype html
block vars
	- var title = global.title
	- var cl = function(arr) { return arr.filter(n => !!n).join(" ") }

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title=title

		meta(name='author', content='manGoweb s.r.o. <info@mangoweb.cz> (http://www.mangoweb.cz')

		link(rel='stylesheet', href='styles/index.css', media='screen')
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='icon', type='image/png', href='favicon.png')

	body
		.guide
			.guide-head
				img(src="images/logo.svg", alt="MgUI")
			block main
